$gradientcard: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$gradientboard: linear-gradient(315deg, #998115 0%, #89b45d 100%);
$primaryButton: linear-gradient(315deg, #f12711 0%, #f5af19 74%);
$secondaryButton: linear-gradient(315deg, #f5af19 0%, #f12711 74%);
$disabledButton: linear-gradient(315deg, #000 0%, #ccc 74%);
$mainBackground: lightgray;
$topbarBackground: #aaa;
